[submodule "src/dtn_proxy/external/cpp-httplib"]
	path = src/dtn_proxy/external/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "src/dtn_proxy/external/websocketpp"]
	path = src/dtn_proxy/external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "src/dtn_proxy/external/bp7-rs"]
	path = src/dtn_proxy/external/bp7-rs
	url = https://github.com/dtn7/bp7-rs.git
[submodule "src/dtn_proxy/external/json"]
	path = src/dtn_proxy/external/json
	url = https://github.com/nlohmann/json.git
[submodule "src/dtn_proxy/external/toml11"]
	path = src/dtn_proxy/external/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "src/dtn_proxy/external/data-compressor"]
	path = src/dtn_proxy/external/data-compressor
	url = https://github.com/CenterForSecureEnergyInformatics/data-compressor.git
[submodule "src/dtn_proxy/external/lodepng"]
	path = src/dtn_proxy/external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "src/radiation_msgs"]
	path = src/radiation_msgs
	url = https://github.com/EEEManchester/radiation_msgs.git
